body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 20px;
}

.calculator {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #0000001a;
    width: 400px;
    height: 480px;
    text-align: center
}

h1,
.display {
    margin-bottom: 20px
}

.input-box {
    width: 92%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: right;
    font-size: 1.5em
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px
}

button {
    padding: 20px;
    font-size: 1.2em;
    border: none;
    background: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background .3s ease
}

button:hover {
    background: #0056b3
}